* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: #f1c40f; 
  --dark-color: #2c2c2c; 
  --light-bg: #f9f9f9; 
  --card-bg: #ffffff; 
  --text-color: #333333;
  --gray-dark-color: #50504e;
  --gray-light-color: #8f8f8c;
  --dark-bg: #1e1e1e;
  --border-color: #ccc;
  --dark: #3b3b3b;
  --dark-2: #2f2f2f;
  --text-light: #eaeaea;
  --border2: #e6e6e6;
  --text-dark: #333;
  --text-light2: #777;

  --yellow: #e5d32f;
  --green: #7bb24a;
  --border: #e5e5e5;
  --text-dark: #333;
  /* --text-light: #777; */
}

html {
  font-size: 10px;
}

#rootElement {
  width: 100%;
  height: 100vh;
  /* background-color: var(--light-bg); */
  /* background-color: red; */
  background-color: #2e2504;
  padding-inline: 2rem;
  /* border: 2px solid red; */
}

main {
  /* border: 2px solid var(--border); */
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.384);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: orange; */
}

.headerLeftSec {
  display: flex;
  gap: 1rem;
}

.logCont {
  width: 5rem;
}

.logCont > img {
  width: 100%;
}

.logoText {
  color: #fff;
}

.logoText1 {
  font-size: 4rem;
}


.headerSecLabelCont {
  /* background-color: salmon; */
  color: #fff;
  display: flex;
  font-size: 1.2rem;
}

.headerSecLabel1 {
  position: relative;
  display: inline-block;
  background-color: var(--primary-color);
  font-weight: 600;
  padding: 1rem 1.5rem;
}

.headerSecLabel1::after {
  display: inline-block;
  content: "";
  /* background-color: salmon; */
  position: absolute;
  top: 0;
  right: -2rem;
  width: 0;
  height: 0;
  border-top: 1.7rem solid transparent;
  border-bottom: 1.7rem solid transparent;
  border-left: 2rem solid var(--primary-color);
}

.headerSecLabel2 {
  /* display: inline-block; */
  background-color: #50504e;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 1.5rem;
  /* padding-left: 1.5rem; */
}


.headerGoSub {
  padding: 1.4rem 2rem;
  background-color: #000;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.selectWrapper {
  position: relative;
  height: 3.4rem;
  width: 100%;
  overflow: hidden;
}


.selectInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  height: 3.4rem;
  width: 100%;
  padding: 0 4rem 0 1rem; 
  border: 1px solid var(--border-color);
  background: #fff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}


.selectWrapper::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3.4rem;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.selectInput:focus {
  border-color: var(--primary-color);
}

.textInput {
  display: block;
  height: 3.4rem;
  min-width: 14rem;
  padding: 0 1rem; 
  border: 1px solid var(--border-color);
  background: #fff;
  font-size: 1.4rem;
  outline: none;
}
.btn-headerForm {
  margin-left: 1rem;
}
.btn {
  background-color: var(--primary-color);
  height: 3.4rem;
  padding: 0 1.4rem;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navigationCont {
  background-color: var(--gray-dark-color);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.navigationCont .nav {
  display: flex;
  font-size: 1.4rem;
  list-style: none;
  gap: 3rem;
  padding: 1rem;
}

.navigationCont .nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 8px 0;
  position: relative;
}

.nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

.nav li a:hover::after {
  width: 100%;
}

.navSelectInput {
  color: #fff;
  background: transparent;
  border: none;
  font-size: 1.6rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  /* background-color: white; */
  padding: 0 2rem 0 1rem;
}

.navSelectWrapper {
  position: relative;
  /* padding-left: 2rem; */
}
.navSelectWrapper::after {
  content: "▼";
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.navSearchCont {
  width: 2.5rem;
  display: grid;
  place-content: center;
}
.navSearchCont img {
  width: 100%;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  background-color: white;
}

.heroCon1 {
  display: flex;
  width: 100%;
  /* background-color: greenyellow; */
  gap: 2rem;
}

.heroBanner {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heroSecLabelCont {
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  border: 0.2rem solid var(--border-color);
}

.heroSecLabelCont1 {
  position: relative;
  display: inline-block;
  background-color: var(--gray-light-color);
  font-weight: 600;
  padding: 1rem 1.5rem;
}

.heroSecLabelCont1 img {
  width: 2rem;
}

.heroSecLabelCont1::after {
  display: inline-block;
  content: "";
  /* background-color: salmon; */
  position: absolute;
  top: 0;
  right: -2rem;
  width: 0;
  height: 0;
  border-top: 2.1rem solid transparent;
  border-bottom: 2.1rem solid transparent;
  border-left: 2rem solid var(--gray-light-color);
}

.heroSecLabelCont2 {
  /* display: inline-block; */
  background-color: var(--light-bg);
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3rem;
  color: var(--gray-light-color);
  font-weight: 600;
}

/* -------------------------*/
.heroSecPoster {
  background: url("https://plus.unsplash.com/premium_photo-1661378602224-c9a5e6e52ab6?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 20% 10%;
  height: 50vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.heroSecPosterText {
  z-index: 1;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroSecPosterText h3 {
  font-size: 1.6rem;
}
.heroSecPosterText h1 {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
}
.heroSecPosterText p {
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.heroInputSec {
  flex: 1;
  /* background-color: royalblue; */
  filter: contrast(1);
}

.btnWrap {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  z-index: 1;
}

.iconBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: var(--primary-color);
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  box-shadow:
    inset 0.2rem 0.2rem 0 white,
    inset -0.2rem -0.2rem 0 white;
  border-radius: 0.3rem;
}

.iconBtn::hover {
  opacity: 0.9;
}

.iconBtn .icon {
  display: flex;
  align-items: center;
  border-right: 0.2rem solid white;
  padding-right: 0.8rem;
}

.iconBtn img {
  width: 14px;
  height: 14px;
}

.iconBtn:hover {
  opacity: 0.9;
}

.iconBtn:focus {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.enquiryCard {
  width: 260px;
  /* background: khaki; */
  padding: 16px;
  font-family: Arial, sans-serif;
  color: var(--text-light);

  display: flex;
  flex-direction: column;
}

.cardTitleCont {
  font-size: 1.4rem;
  font-weight: bold;
  /* background-color: darkcyan; */

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.cardTitle {
  padding: 1rem 1.4rem;
  background-color: var(--dark);
}

.cardTitle.selectedTitle {
  background-color: var(--primary-color);
  position: relative;
}

.cardTitle.selectedTitle::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 0;
  height: 0;
  /* background-color: var(--primary-color); */

  border-left: 1.7rem solid transparent;
  border-right: 1.7rem solid transparent;
  bottom: -1.5rem;
  border-top: 1.5rem solid var(--primary-color);
}

.cardInputs {
  background-color: var(--dark);
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}
.enquiryCard label {
  display: block;
  font-size: 13px;
  margin: 14px 0 6px;
  color: #fff;
  font-weight: 600;
}

.field {
  margin-bottom: 10px;
}

.enquiryCard input,
.enquiryCard select {
  width: 100%;
  height: 34px;
  padding: 0 10px;
  border: 1px solid var(--border);
  background: #fff;
  font-size: 13px;
  outline: none;
}

.selectWrap {
  position: relative;
}

.selectWrap select {
  appearance: none;
  -webkit-appearance: none;
  padding-right: 40px;
}

.selectWrap::after {
  content: "▼";
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
  background: var(--primary-color);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.submitBtn {
  width: 100%;
  margin-top: 10px;
  height: 38px;
  background: var(--primary-color);
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.submitBtn:hover {
  opacity: 0.9;
}


.servicesSection {
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #fff;
  border-bottom: 2px solid var(--border-color);
}

.servicesLayout {
  display: flex;
  gap: 30px;
}

.servicesGrid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.serviceCard {
  border: 1px solid var(--border2);
  padding: 20px;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.serviceCard h3 {
  margin: 0 0 8px;
  font-size: 1.8rem;
  color: var(--text-dark);
}

.serviceCard p {
  font-size: 13px;
  color: var(--text-light2);
  margin-bottom: 10px;
}

.serviceCard a {
  font-size: 13px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.sidebar {
  flex: 1;
}

.sidebarBox {
  border: 1px solid var(--border2);
  padding: 15px;
  margin-bottom: 20px;
}

.sidebarBox h4 {
  margin-bottom: 15px;
  font-size: 14px;
}

.linkGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.linkItem {
  /* border: 1px solid var(--border2); */
  padding: 0.4rem;
  font-size: 13px;
  text-align: center;
  font-size: 12px;
  color: var(--text-light2);
  background-color: var(--border2);

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.linkItemTitle {
  display: grid;
  width: 100%;
  background-color: white;
  place-content: center;
  padding: 0.6rem;
}

.linkItemSubTitle {
  display: flex;
  justify-content: space-between;
  gap: 0;
}

.linkItemCount {
  /* color: red; */
  display: grid;
  place-content: center;
  /* border-right: 0.2rem solid #333; */
  background-color: white;
  flex: 1;
}
.linkItemLogo {
  /* background-color: brown;   */
  flex: 1;
  /* border: 1px solid var(--border2); */
}
.linkItemLogo img {
  width: 2rem;
}

.appBtn {
  width: 100%;
  padding: 0.1rem;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px;

  display: flex;
  justify-content: space-between;
  background-color: (--border2);
}

.appBtn.ios {
  color: #fff;
}

.appBtn > .title {
  background: #2979ff;
  flex: 7;

  display: grid;
  place-content: center;
}
.appBtn > .logo {
  display: grid;
  place-content: center;
  width: 30%;
  background-color: var(--border2);
  flex: 2;
  padding: 1.4rem 1rem;
}
.appBtn > .logo img {
  width: 2rem;
}

.appBtn.android {
  background: var(--border2);
}

.appBtn.android > .title {
  background-color: white;
}

.lastNews {
  text-align: center;
  margin-top: 40px;
  position: relative;
}


.newsLabel {
  display: inline-block;
  background: #2979ff;
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
}

.lastNews p {
  margin-top: 10px;
  font-size: 13px;
  color: var(--text-light2);
}


.newsSection {
  padding: 40px;
  padding-top: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.newsHeader {
  text-align: center;
  /* margin-bottom: 40px; */
  padding-top: 4rem;
  position: relative;
}

.newsDot {
  width: 8px;
  height: 8px;
  background: var(--yellow);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.newsLine {
  height: 4rem;
  border-left: 2px dotted var(--dark);
  margin: 5px auto;
  position: absolute;
  left: 50%;
  top: 0;
}

.newsBadge {
  background: #2979ff;
  color: #fff;
  padding: 4px 10px;
  font-size: 2rem;
}

.newsHeader p {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-light2);
}

.newsCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.newsCard {
  border: 1px solid var(--border);
  background: #fff;
}

.newsTitle {
  background: var(--yellow);
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: white;
}

.newsTitle > .icon {
  /* background-color: red; */
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.2rem solid white;
}
.newCardImg {
  height: 18rem;
  position: relative;
}
.newCardImg img {
  width: 100%;
  height: 100%;
  display: block;
}

.newsMeta {
  background: rgba(123, 178, 74, 0.85); 
  color: #fff;
  font-size: 12px;

  display: flex;
  justify-content: space-around;
  padding: 6px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.news-content {
  padding: 2rem 1.5rem;
}

.news-content p {
  font-size: 13px;
  color: var(--gray-dark-color);
  line-height: 1.4;
}

.footer {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}


@media (max-width: 600px) {

   html {
    font-size: 9px;
  }

  
  .headerSection,
  .headerTop,
  .navigationCont,
  .headerGoSub {
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
  }

  .heroCon1 {
    flex-direction: column;
  }

  .heroSecPoster {
    height: 35vh;
    text-align: center;
  }

  .heroInputSec {
    width: 100%;
    margin-top: 2rem;
  }

  .headerGoSub select,
  .headerGoSub input,
  .headerGoSub button {
    width: 100%;
  }


  .servicesGrid {
    grid-template-columns: 1fr;
  }

  .servicesLayout {
    flex-direction: column;
  }


  .sidebar {
    width: 100%;
  }


  .newsCards {
    grid-template-columns: 1fr;
  }


  .btnWrap {
    flex-direction: column;
    gap: 1rem;
  }

  select {
  width: 100% !important;
  min-width: 0;   
}
}


@media (min-width: 601px) and (max-width: 992px) {

  html {
    font-size: 9.5px;
  }


  .heroCon1 {
    flex-direction: column;
  }

  .heroInputSec {
    width: 100%;
    margin-top: 2rem;
  }


  .servicesGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .servicesLayout {
    flex-direction: column;
  }


  .sidebar {
    width: 100%;
  }


  .newsCards {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 993px) {

  html {
    font-size: 10px;
  }


  .servicesGrid {
    grid-template-columns: repeat(3, 1fr);
  }


  .newsCards {
    grid-template-columns: repeat(3, 1fr);
  }
}
